:root {
  --font-family-main: sans-serif;

  --border-radius-small: 5px;

  --color-dark-gray-main: rgb(188, 168, 168);
  --color-white: #fff;

  --color-isDark-theme: rgb(42, 44, 40);
  --color-isDark-them-word: rgb(103, 126, 132);
  --color-isDark-them-btn: rgb(101, 133, 125);
}

body {
  background-color: var(--color-dark-gray-main);
  font-family: var(--font-family-main);
}
